/* Section text */
.section-sub-text {
  color: #aaa6c3;
  font-size: 14px;
  text-transform: uppercase;
  letter-spacing: 1px;
}
/* .about-global {
  margin: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
} */
/* .about-title {
  margin: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
} */

.section-head-text {
  color: #ffffff;
  font-size: 48px;
  font-weight: 800;
  margin-top: 8px;
}

.about-header {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

/* About paragraph */
.about-description {
  margin: 16px auto 0 auto; /* center block */
  text-align: center;
  color: #aaa6c3;
  font-size: 17px;
  max-width: 768px;
  line-height: 30px;
  flex-direction: column;
  justify-content: center;
}

/* Services layout */
.services-container {
  margin-top: 80px;
  display: flex;
  flex-wrap: wrap;
  gap: 40px;
}

/* Service Card */
.service-card-tilt {
  width: 100%;
  max-width: 250px;
}

.service-card-gradient {
  width: 100%;
  padding: 1px;
  border-radius: 20px;
  background: linear-gradient(90deg, #00cea8 0%, #bf61ff 100%);
  box-shadow: 0px 35px 120px -15px #211e35;
}

.service-card {
  background-color: #151030;
  border-radius: 20px;
  padding: 20px 48px;
  min-height: 280px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}

/* Icon */
.service-card-icon {
  width: 64px;
  height: 64px;
  object-fit: contain;
}

/* Title */
.service-card-title {
  color: #ffffff;
  font-size: 20px;
  font-weight: 700;
  text-align: center;
}
