.app-root {
  position: relative;
  z-index: 0;
  background-color: #050816;

  display: flex;
  flex-direction: column;
  justify-items: center;
  gap: 80px;
}

/* Hero background wrapper */
.hero-wrapper {
  background-image: var(--hero-pattern);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

:root {
  --hero-pattern: url("/src/assets/herobg.png");
}

/* Contact + stars wrapper */
.contact-wrapper {
  position: relative;
  z-index: 0;
}
