Computers Canvas wrapper .computers-canvas-wrapper {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  overflow: hidden;
}

.computers-canvas-wrapper canvas {
  width: 100% !important;
  height: 100% !important;
  display: block;
}

@media (max-width: 500px) {
  .computers-canvas-wrapper {
    height: 400px;
  }
}
