.footer {
  background: #050816; /* Dark black theme */
  color: #ffffff;
  padding: 50px 20px 20px;
  font-family: "Poppins", sans-serif;
  border-top: 1px solid #151030;
}

.footer-container {
  max-width: 1200px;
  margin: auto;

  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  gap: 30px;
}

/* Left */
.footer-left h2 {
  font-size: 22px;
  margin-bottom: 5px;
  color: #ffffff;
}

.footer-left p {
  font-size: 14px;
  color: #aaa6c3;
}

/* Center */
.footer-center {
  display: flex;
  gap: 20px;
}

.footer-center a {
  text-decoration: none;
  color: #aaa6c3;
  font-size: 14px;
  transition: 0.3s;
}

.footer-center a:hover {
  color: #ffffff;
}

/* Right */
.footer-right {
  display: flex;
  gap: 15px;
}

.footer-right a {
  text-decoration: none;
  color: #aaa6c3;
  font-size: 14px;
  transition: 0.3s;
}

.footer-right a:hover {
  color: #ffffff;
}

/* Bottom */
.footer-bottom {
  text-align: center;
  margin-top: 30px;
  font-size: 13px;
  color: #aaa6c3;
  border-top: 1px solid #151030;
  padding-top: 15px;
}

/* Responsive */
@media (max-width: 768px) {
  .footer-container {
    flex-direction: column;
    text-align: center;
  }

  .footer-center,
  .footer-right {
    justify-content: center;
  }
}
